.navbar {
    background: darkslategray;
    height: 80px;
    display: flex;
    position: sticky;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.navbar-logo > img {
    width: 60%;
    justify-self: start;
    margin-left: 30%;
    margin-top: 5%;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-item{
    color: #fff;
    text-decoration: none;
}

.nav-item:hover {
    border-bottom: 4px solid #fff;
    transition: all 0.2s ease-out;
  }